@media screen {
    h1 {
        font-family: "Noto Serif", serif;
        font-weight: bold;
        font-size: 55px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 100px;
    }

    #headline_img {
        width: 75%;
        display: block;
        margin: auto;
    }
    
    #image_section {
        background-color: #545454;
    }

    #headline {
        background-color: #545454;
        color: white;
    }

    h3 {
        font-family: "Chivo", sans-serif;
        font-weight: 100;
        font-size: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    p {
        font-family: "Chivo", sans-serif;
    }
    
    #date {
        font-style: italic;
        padding-left: 15px;
    }
    
    #author {
        padding-left: 15px;
        padding-top: 20px;
    }
    
    #posters_img {
        display: block;
        margin: auto;
        width: 100%;
    }
    
}

@media (min-width:576px) {
    h1 {
        font-size: 55px;
    }
}

@media (min-width:786px) {
    h1 {
        font-size: 80px;
    }
}