@media screen {
    h1 {
        font-family: "Anonymous Pro";
        font-weight: bold;
        font-size: 55px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 100px;
    }

    #headline_img {
        width: 75%;
        display: block;
        margin: auto;
    }

    #image_section {
        background-color: #373737;
    }

    #headline {
        color: white;
    }

    #title_description {
        font-family: "Chivo", sans-serif;
        font-weight: 100;
        font-size: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #paper_edge {
        float: left;
    }

    p {
        font-family: "Chivo", sans-serif;
    }

    #date {
        font-style: italic;
        padding-left: 15px;
        text-align: center;
        font-family: "Anonymous Pro";
    }

    #author {
        padding-left: 15px;
        padding-top: 20px;
        font-weight: bold;
        text-align: center;
        font-family: "Anonymous Pro";
    }

    h2 {
        color: #bd0000;
        font-family: "Chivo", sans-serif;
        font-size: 65px;
        padding-top: 15px;
    }

    #posters_img {
        display: block;
        margin: auto;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .caption {
        font-size: 12.5px;
        font-family: "Anonymous Pro";
    }

    #wilcox_img {
        width: 50%;
        float: right;
        padding-left: 5px;
    }

    #wilcox_caption {
        float: right;
        width: 50%;
        padding-bottom: 5px;
    }


    #quote {
        font-family: "Anonymous Pro";
        padding-bottom: 30px;
        padding-top: 10px;
        font-weight: bold;
        width: 75%;
        margin: auto;
    }

    #quote_source {
        font-family: "Anonymous Pro";
        padding-bottom: 30px;
        width: 75%;
        margin: auto;
    }

    .red {
        color: #bd0000;
    }
    
    #map_caption {
        font-size: 13px;
        text-align: center;
    }

    #womens_march {
        width: 100%;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 55px;
    }
}

@media (min-width: 786px) {
    h1 {
        font-size: 80px;
    }
}
