/* 
MY COLOR PALETTE
TAN - #EFE9E4
NAVY BLUE - #0E1C36
BROWN - #5B4C36
LIGHT GREEN - #909580
LAVENDER - #80727B
*/

@media screen {
    #Image {
        width: 100%;
        border: 5px solid #5b4c36;
        margin-top: 20px;
        margin-bottom: 45px;
    }

    body {
        background-color: #efe9e4;
    }

    #header {
        text-align: center;
        padding: 8px;
        padding-bottom: 4px;
        background-color: #80727b;
        font-family: "Arimo", sans-serif;
        font-weight: 100;
        color: #efe9e4;
    }

    a {
        color: #efe9e4;
    }

    a:hover {
        color: #909580;
    }

    h1 {
        font-family: "Cormorant Garamond", serif;
        text-transform: uppercase;
        font-size: 70px;
        color: #0e1c36;
    }

    h2 {
        font-family: "Cormorant Garamond", serif;
        text-transform: uppercase;
        font-size: 50px;
        color: #0e1c36;
        padding-bottom: 10px;
    }

    #title {
        color: #5b4c36;
        padding-bottom: 70px;
        font-size: 32px;
    }

    #button {
        width: 165px;
        background-color: #909580;
        border-radius: 25px;
        border: none;
        padding: 15px;
        text-transform: uppercase;
        font-family: "Arimo", sans-serif;
        color: #efe9e4;
    }

    #button:hover {
        color: #80727b;
    }

    #experience {
        padding-bottom: 30px;
        margin-left: 20px;
    }

    #experience_description {
        margin-right: 20px;
        margin-left: 20px;
    }

    h5 {
        color: #909580;
        text-decoration: underline;
    }

    h6 {
        color: #5b4c36;
        font-weight: bold;
    }

    p {
        padding-bottom: 30px;
        color: #5b4c36;
    }

    #sbs_photo {
        width: 50%;
        display: block;
        margin: auto;
        padding-bottom: 20px;
    }

    #hercampus_photo {
        width: 50%;
        display: block;
        margin: auto;
        padding-bottom: 20px;
    }

    #wmuc_photo {
        width: 70%;
        display: block;
        margin: auto;
        padding-bottom: 20px;
    }
    #skills {
        text-align: center;
    }

    ul {
        line-height: 3;
        color: #5b4c36;
        font-size: 20px;
        text-align: center;
        list-style-position: inside;
    }

    #education {
        padding-bottom: 30px;
        padding-top: 10px;
        text-align: right;
        margin-right: 20px;
    }

    #journalism {
        text-align: right;
        padding-bottom: 30px;
        padding-right: 20px;
    }

    #merrill_photo {
        width: 100%;
    }
    #major_title {
        color: #909580;
        text-decoration: underline;
    }

    #major_description {
        font-size: 20px;
    }

    #wgss {
        text-align: right;
        padding-right: 20px;
    }
    #wgss_photo {
        width: 100%;
    }
    #minor_title {
        color: #909580;
        text-decoration: underline;
    }

    #minor_description {
        font-size: 20px;
    }
    hr {
        border: 5px solid #80727b;
    }

    @media (min-width: 576px) {
        h1 {
            font-size: 80px;
        }

        button {
            width: 200px;
        }
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 100px;
        }
    }
}
